<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">My Blog Post</h1>
      <p class="lead my-3">I write to share my knowledge to the world and improve myself daily.</p>
      <p class="lead mb-0"><a href="<%= root_path %>" class="text-white font-weight-bold">Read more about me...</a></p>
      <p><%= link_to 'New Blog', new_blog_path if logged_in?(:site_admin) %></p>
    </div>
</div>
<p id="notice"><%= notice %></p>
<main role="main">
  <div class="row">
    <div class="col-md-8 blog-main">
      <div class="row mb-2">
        <%= render @blogs %>
      </div>
      <nav class="blog-pagination">
        <%= link_to_next_page @blogs, 'Next Page', class: 'btn btn-outline-primary' %>
        <%= link_to_prev_page @blogs, 'Prev Page', class: 'btn btn-outline-primary' %>
      </nav>
    </div>
    <%= render 'aside' %>
  </div>
</main>

