<div class="row">
  <div class="col-md-8 blog-main">
    <h1>
      <%= @blog.title %>
    </h1>
    <nav class="breadcrumb">
        <%= link_to 'Home', root_path, class: 'breadcrumb-item' %>
        <%= link_to @blog.topic.title, topic_path(@blog.topic), class: 'breadcrumb-item' %>
        <span class="breadcrumb-item active text-muted"><%= @blog.title %></span>
        <span class="move-right">
          <% if logged_in?(:site_admin) %>
            <%= link_to fa_icon('pencil-square-o'), edit_blog_path(@blog) %>
            <%= link_to fa_icon('trash'), @blog, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </span>
    </nav>
    <%= @blog.topic.title %>
    <p class="mb-1 text-muted">Published <%= time_ago_in_words(@blog.created_at) %> ago</p>
    <br />
    <p>
      <%= @blog.body %>
    </p>
    <% unless current_user.is_a? GuestUser %>
      <%= render 'comments/comment_form' %>
    <% end %>

    <div id="comments" data-blog-id="<%= @blog.id %>">
      <%= render @blog.comments %>
    </div>
  </div>
  <%= render 'aside' %>
</div>

