<%= render 'shared/blog_header' %>
<div class="container">
  <main role="main">
    <div class="row">
      <div class="col-md-8">
        <h2 class="text-center"><%= @topic.title.capitalize %></h2>
        <%= render @blogs %>
        <nav class="blog-pagination">
          <%= link_to_prev_page @blogs, 'Prev Page', class: 'btn btn-outline-primary' %>
          <%= link_to_next_page @blogs, 'Next Page', class: 'btn btn-outline-primary' %>
        </nav>
      </div>
      <div class="col-md-4">
        <%= render 'blogs/aside' %>
      </div>
    </div>
  </main>
</div>

