<div class="row about-page">
  <div class="col-md-6">
    <h4 class="text-muted text-center"> Skills </h4>
   <% @skills.each do |skill|%>
     <span class="mb-2 mt-2"><%= skill.title %></span>
     <br />
      <div class="progress">
        <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated"
          role="progressbar"
          style="width: <%= skill.percent_utilized%>%"
          aria-valuenow="<%= skill.percent_utilized %>"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    <% end %>
  </div>
  <div class="col-md-6">
    <h4 class="text-center text-muted">About me</h4>
    <div class="about-me">
      <p>Hello! I’m a Technophile and Software Developer specializing in developing web applications, testing and making the internet a more beautiful and positive place. I am a fast learner who loves learning new concepts and technology. I hold a National Diploma in Computer Engineering from Yaba College of Technology. With 3 years of experience in software development using Rails, Javascript and Python.</p>
      <p>
        <button class="btn btn-purple btn-sm" type="button" data-toggle="collapse" data-target="#jobHistory" aria-expanded="false" aria-controls="collapseExample">
          Job History
        </button>
        <button class="btn btn-purple btn-sm" type="button" data-toggle="collapse" data-target="#educationHistory" aria-expanded="false" aria-controls="collapseExample">
          Education
        </button>
      </p>
      <p>
      <div class="collapse" id="jobHistory">
        <div id="carouselExampleControls" class="carousel slide text-center" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <h6>Full stack Javascript Developer - Andela </h6>
              <p>- Building scalable and High performing applications
            - Using TDD approach in building applications using Mocha, Chai, Jest and others
            - Consuming API's with React </p>
            </div>
            <div class="carousel-item">
              <h6>Ruby on Rails Engineer - Andela</h6>
              <p>- Building and working on enterprise grade applications with Ruby and Rails.
              - Building API's using DRY Principle
              - Writing Test using RSpec and Capybara
              - Building AP's using GraphQL and Rails </p>
            </div>
            <div class="carousel-item">
              <h6>Python Programmer - AppsWorkforce</h6>
              <p>Working closely with programmers to create different designs using algorithms to solve different problems</p>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <%= fa_icon "arrow-left", class: 'text-muted'%>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <%= fa_icon "arrow-right", class: 'text-muted'%>
          </a>
        </div> 
      </div>
      <div class="collapse" id="educationHistory">
        <div>
          <p>
            Bsc Computer Science - Unversity of the People (in view)
          </p>
          <p>
            ND Computer Engineering - Yaba College of Technology 
          </p>
        </div>
      </div>
      </p>
    </div>
    <div class="line"></div>
    <div class="contact">
      <h3>Have an Idea?</h3>
      <button class="btn-lg"><a href="mailto:danielshotonwa53@gmail.com?subject=PortFolio Contact">Contact Me</a></button>
    </div>
  </div>
</div>

