<div class="main text-secondary">
  <div class="container">
    <div class="row">
      <div class="col-md-3 bio-img">
        <%=image_tag("myimg.jpg", class: "polaroids") %>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-8">
        <div class="bio">
          <h4 class="text-dark mb-2">Hello! I’m a Technophile and Software Developer specializing in developing web applications, testing and making the internet a more beautiful and positive place.</h4>
          <h4 class="text-dark mb-2">I am a fast learner who loves learning new concepts and technology. I hold a National Diploma in Computer Engineering from Yaba College of Technology. </h4>
          <h4 class="text-dark mb-2">With 1.5 years of experience in software development using Rails, Javascript and Python.</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="stack">
    <div class="stack--text">
      <h1 class="text-dark text-center text-uppercase">Experience</h1>
      <div class="container">
        <div class="row text-center experience text-uppercase">
          <div class="col-md-5 text-left shadow">
            <p>November 2019 - Present</p>
            <h1 class="text-dark">Software Developer</h1>
            <p class="text-uppercase"> Andela</p>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5 text-left shadow">
            <p>April 2017 - April 2018</p>
            <h1 class="text-dark">Intern at Risk Assurance Service</h1>
            <p class="text-uppercase"> Pwc </p>
          </div>
        </div>
        <div class="row text-center experience text-uppercase">
          <div class="col-md-5 text-left shadow">
            <p>April 2016 - January 2017</p>
            <h1 class="text-dark">Python Programmer</h1>
            <p class="text-uppercase"> AppsWorkforce </p>
          </div>
        </div>
        <br />
        <br />
        <br />
        <h1 class="text-center text-uppercase text-dark mt-2">Education</h1>
        <div class="row text-center experience text-uppercase">
          <div class="col-md-5 text-left shadow">
            <p>July 2019 - Present</p>
            <h1 class="text-dark">BSC Computer Science</h1>
            <p class="text-uppercase">University of the People</p>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5 text-left shadow">
            <p>September 2013 - February 2016</p>
            <h1 class="text-dark">ND Computer Engineering</h1>
            <p class="text-uppercase"> Yaba College of Technology </p>
          </div>
        </div>
      </div>
    </div>
  </div>
        <br />
        <br />
        <br />
  <div class="tools">
    <div class="container">
        <h1 class="text-center text-uppercase text-dark">Tools Used</h1> 
          <div class="row text-dark text-center text-uppercase">
            <div class="col-md-3 stack-img">
              <%= image_tag("icons/javascript.svg") %>
              <h4>Javascript</h4>
            </div>
            <div class="col-md-3 stack-img">
              <%= image_tag("icons/python.svg") %>
              <h4>Python</h4>
            </div>
            <div class="col-md-3 stack-img">
              <%= image_tag("icons/ruby.svg") %>
              <h4>Ruby</h4>
            </div>
            <div class="col-md-3 stack-img">
              <%= image_tag("icons/coffeescript.svg") %>
              <h4>Coffeescript</h4>
            </div>
            <div class="col-md-3 stack-img">
              <%= image_tag("icons/css3.svg") %>
              <h4>CSS3</h4>
            </div>
            <div class="col-md-3 stack-img">
              <%= image_tag("icons/html5.svg") %>
              <h4>HTML5</h4>
            </div>
            <div class="col-md-3 stack-img">
              <%= image_tag("icons/git.svg") %>
              <h4>GIT</h4>
            </div>
            <div class="col-md-3 stack-img">
              <%= image_tag("icons/github.svg") %>
              <h4>Github</h4>
            </div>
            <div class="col-md-3 stack-img">
              <%= image_tag("icons/heroku.svg") %>
              <h4>Heroku</h4>
            </div>
            <div class="col-md-3 stack-img">
              <%= image_tag("icons/jquery.svg") %>
              <h4>Jquery</h4>
            </div>
            <div class="col-md-3 stack-img">
              <%= image_tag("icons/mocha.svg") %>
              <h4>Mocha</h4>
            </div>
            <div class="col-md-3 stack-img">
              <%= image_tag("icons/mysql.svg") %>
              <h4>mySQL</h4>
            </div>
            <div class="col-md-3 stack-img">
              <%= image_tag("icons/nodejs.svg") %>
              <h4>NodeJS</h4>
            </div>
            <div class="col-md-3 stack-img">
              <%= image_tag("icons/postgresql.svg") %>
              <h4>PostgreSQL</h4>
            </div>
            <div class="col-md-3 stack-img">
              <%= image_tag("icons/rails.svg") %>
              <h4>Rails</h4>
            </div>
            <div class="col-md-3 stack-img">
              <%= image_tag("icons/react.svg") %>
              <h4>React</h4>
            </div>
            <div class="col-md-3 stack-img">
              <%= image_tag("icons/redux.svg") %>
              <h4>Redux</h4>
            </div>
            <div class="col-md-3 stack-img">
              <%= image_tag("icons/redis.svg") %>
              <h4>Redis</h4>
            </div>
            <div class="col-md-3 stack-img">
              <%= image_tag("icons/sequelize.svg") %>
              <h4>Sequelize</h4>
            </div>
            <div class="col-md-3 stack-img">
              <%= image_tag("icons/typescript.svg") %>
              <h4>TypeScript</h4>
            </div>
            <div class="col-md-3 stack-img">
              <%= image_tag("icons/vim.svg") %>
              <h4>VIM</h4>
            </div>
          </div>
    </div>
    <h3 class="text-center text-uppercase text-dark"><a href="/portfolios" class="text-dark">View Recent Projects</a></h3>
  </div>
    <%= render 'shared/blog_footer' %>
</div>
